/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Apr, 2023, 3:12:01 PM
    Author     : 22mca61
*/
.cen{
    text-align: center;
    background-color: #60b0f1;
    margin:  70px 35% 2px 35%;
    border: solid 1px #ffffff;
    border-radius: 5px;
}
.flex {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
.box{
    text-align: center;
    background-color: #e05c5c;
    border-radius: 5px;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px #ffffff;
}
input[type=button],input[type=reset],input[type=submit],button{
  background-color: #3af077;
  border: solid 1px #ffffff;
  padding: 7px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%
}
form{
            margin:  2px 50% 2px 25%;
            text-align: left;
        }
.center{
        text-align: center;
}
a{
    text-decoration: none;
    color: black;
}
h1,h2,h3{
    color: white;
}